<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello Vacation friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in boxes to store your Vacation locations!</h1>
    <form action='/vacation'>
      <div class='form-group'>
        <label for='location'>Name of Vacation spot:</label>
        <input id='location' name='location' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='items'>Gifts you brought back:</label>
        <input id='items' name='items' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
